.image-operation {
    margin-top: 60px;
}

span.titulo {
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 30px;
}

span.titulo--menu {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
  }
  